.header {
	display: flex;
	width: auto;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 3rem;
	background-color: hsl(209, 23%, 22%);
	margin: 0;
}
.input {
	width: 40vw;
	margin: 2rem;
	padding: 0 1rem;
	height: 3rem;
	background-color: #2b3945;
	color: white;
	border: none;
	border-radius: 3px;
}

.input::placeholder {
	justify-content: center;
	color: rgba(255, 255, 255, 0.726);
	font-size: 16px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 0;
	justify-content: center;
}

.card {
	aspect-ratio: 16/9;
	background-color: #2b3945;
}
.card__mapped {
	aspect-ratio: 16/9;
}

.card__content {
	padding: 1rem 2rem;
}

.img__content {
	width: calc(240px + 12vw);
	height: auto;
}

.img__map {
	width: calc(240px + 12vw);
	height: auto;
}

.title {
	width: 20ch;
	margin: 0;
}

.image {
	aspect-ratio: 16/9;
	width: 360px;
	height: auto;
}

.path {
	padding-left: calc(1rem + 1.8vw);
}

.country__section {
	width: 99.5vw;
	display: flex;
	flex-direction: column;
	gap: calc(2.5rem + 3vw);
	justify-content: center;
}

@media (min-width: 1024px) {
	.country__section {
		flex-direction: row;
	}
}

.content {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 0;
	justify-content: center;
	gap: 2rem;
}

.border__card {
	margin: 0px 4px;
	padding: 4px;
	border-radius: 4px;
}

.interaction {
	cursor: pointer;
	user-select: none;
}
